<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/ae7f33ee2c.js"></script>

        <title>JT Williams</title>
    </head>
    <body>
        <!-- <nav class="navbar navbar-expand-md navba-light bg-light border">
            <a class="navbar-brand" href="/">JT Williams</a>
        </nav> -->

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
